<a href="https://colab.research.google.com/github/ravi-gopalan/disaster_response/blob/master/Disaster_response.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ETL Pipeline

## Get files

In [1]:
# Clone the entire repo.
!git clone -l -s git://github.com/ravi-gopalan/disaster_response.git cloned-repo
%cd cloned-repo
!ls

Cloning into 'cloned-repo'...
warning: --local is ignored
remote: Enumerating objects: 18, done.
remote: Counting objects: 100% (18/18), done.
remote: Compressing objects: 100% (18/18), done.
remote: Total 18 (delta 4), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (18/18), 2.51 MiB | 4.29 MiB/s, done.
Resolving deltas: 100% (4/4), done.
/content/cloned-repo
categories.csv			 messages.csv
Disaster_response.ipynb		 README.md
disaster_response_project.ipynb  Twitter-sentiment-self-drive-DFE.csv
LICENSE

In [0]:
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

## Import libraries

In [0]:
# import libraries
import re
import pandas as pd
import numpy as np

In [4]:
pwd

'/content/cloned-repo'

In [5]:
# load messages dataset
messages = pd.read_csv('messages.csv')
messages.head()
# load categories dataset
categories = pd.read_csv('categories.csv')
categories.head()

   id  ...   genre
0   2  ...  direct
1   7  ...  direct
2   8  ...  direct
3   9  ...  direct
4  12  ...  direct

[5 rows x 4 columns]

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### There seems to be an id, a message in an original language, an English version and a genre of message

In [6]:
messages.describe(include='all')
categories.describe(include='all')

                  id  ...  genre
count   26248.000000  ...  26248
unique           NaN  ...      3
top              NaN  ...   news
freq             NaN  ...  13068
mean    15224.078368  ...    NaN
std      8826.069156  ...    NaN
min         2.000000  ...    NaN
25%      7445.750000  ...    NaN
50%     15660.500000  ...    NaN
75%     22923.250000  ...    NaN
max     30265.000000  ...    NaN

[11 rows x 4 columns]

                  id                                         categories
count   26248.000000                                              26248
unique           NaN                                               4003
top              NaN  related-0;request-0;offer-0;aid_related-0;medi...
freq             NaN                                               6125
mean    15224.078368                                                NaN
std      8826.069156                                                NaN
min         2.000000                                                NaN
25%      7445.750000                                                NaN
50%     15660.500000                                                NaN
75%     22923.250000                                                NaN
max     30265.000000                                                NaN

In [7]:
# drop original as these are in an other language that you can't add much value
messages.drop(columns=['original'],axis=1,inplace=True)
messages.head()

   id                                            message   genre
0   2  Weather update - a cold front from Cuba that c...  direct
1   7            Is the Hurricane over or is it not over  direct
2   8                    Looking for someone but no name  direct
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  12  says: west side of Haiti, rest of the country ...  direct

#### Are there duplicates? If so, how many?

In [8]:
messages[messages.duplicated(['id','message','genre'])].count()

id         68
message    68
genre      68
dtype: int64

In [9]:
#### There are 68 ids that are duplicated in the messages dataframe. Drop them
messages.drop_duplicates(inplace=True)
messages.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26180 entries, 0 to 26247
Data columns (total 3 columns):
id         26180 non-null int64
message    26180 non-null object
genre      26180 non-null object
dtypes: int64(1), object(2)
memory usage: 818.1+ KB

In [10]:
categories[categories.duplicated(['id','categories'])].count()

id            32
categories    32
dtype: int64

In [11]:
#### There are ~32 duplicates in the categories data frame. Drop them
categories.drop_duplicates(inplace=True)
categories.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26216 entries, 0 to 26247
Data columns (total 2 columns):
id            26216 non-null int64
categories    26216 non-null object
dtypes: int64(1), object(1)
memory usage: 614.4+ KB

In [12]:
categories[categories.duplicated(['id'])].count()

id            36
categories    36
dtype: int64

#### There are 36 ids that are duplicated but the categories are not hence these are still in the Data Frame

#### There are still some records in categories where ids are duplicated but there's something else in the categories column

###3. Split categories into separate category columns.
Split the values in the categories column on the ; character so that each value becomes a separate column. You'll find this method very helpful! Make sure to set expand=True.
Use the first row of categories dataframe to create column names for the categories data.
Rename columns of categories with new column names.

In [13]:
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [14]:
# create a dataframe of the 36 individual category columns
categories_expanded = categories.categories.str.split(';',None,True)

categories_expanded.head()
categories.head()

          0          1        2   ...      33               34               35
0  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
1  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
2  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
3  related-1  request-1  offer-0  ...  cold-0  other_weather-0  direct_report-0
4  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0

[5 rows x 36 columns]

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [15]:
categories_expanded.info()
categories.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 26216 entries, 0 to 26247
Data columns (total 36 columns):
0     26216 non-null object
1     26216 non-null object
2     26216 non-null object
3     26216 non-null object
4     26216 non-null object
5     26216 non-null object
6     26216 non-null object
7     26216 non-null object
8     26216 non-null object
9     26216 non-null object
10    26216 non-null object
11    26216 non-null object
12    26216 non-null object
13    26216 non-null object
14    26216 non-null object
15    26216 non-null object
16    26216 non-null object
17    26216 non-null object
18    26216 non-null object
19    26216 non-null object
20    26216 non-null object
21    26216 non-null object
22    26216 non-null object
23    26216 non-null object
24    26216 non-null object
25    26216 non-null object
26    26216 non-null object
27    26216 non-null object
28    26216 non-null object
29    26216 non-null object
30    26216 non-null object
31    26216 non-null object
32    26216 non-null object
33    26216 non-null object
34    26216 non-null object
35    26216 non-null object
dtypes: object(36)
memory usage: 7.4+ MB
<class 'pandas.core.frame.DataFrame'>
Int64Index: 26216 entries, 0 to 26247
Data columns (total 2 columns):
id            26216 non-null int64
categories    26216 non-null object
dtypes: int64(1), object(1)
memory usage: 614.4+ KB

In [0]:
categories_full = pd.concat([categories, categories_expanded],axis=1)

In [17]:
categories_full.drop(columns=['categories'],axis=1,inplace=True)
categories_full.head()

   id          0          1  ...      33               34               35
0   2  related-1  request-0  ...  cold-0  other_weather-0  direct_report-0
1   7  related-1  request-0  ...  cold-0  other_weather-0  direct_report-0
2   8  related-1  request-0  ...  cold-0  other_weather-0  direct_report-0
3   9  related-1  request-1  ...  cold-0  other_weather-0  direct_report-0
4  12  related-1  request-0  ...  cold-0  other_weather-0  direct_report-0

[5 rows x 37 columns]

In [18]:
names = []
for x in categories_full.iloc[0]:
    names.append(x)
#column_names
names = names[1:]
columns = [name[:-2] for name in names]
columns

['related',
 'request',
 'offer',
 'aid_related',
 'medical_help',
 'medical_products',
 'search_and_rescue',
 'security',
 'military',
 'child_alone',
 'water',
 'food',
 'shelter',
 'clothing',
 'money',
 'missing_people',
 'refugees',
 'death',
 'other_aid',
 'infrastructure_related',
 'transport',
 'buildings',
 'electricity',
 'tools',
 'hospitals',
 'shops',
 'aid_centers',
 'other_infrastructure',
 'weather_related',
 'floods',
 'storm',
 'fire',
 'earthquake',
 'cold',
 'other_weather',
 'direct_report']

In [19]:
columns = ['id'] + columns
columns

['id',
 'related',
 'request',
 'offer',
 'aid_related',
 'medical_help',
 'medical_products',
 'search_and_rescue',
 'security',
 'military',
 'child_alone',
 'water',
 'food',
 'shelter',
 'clothing',
 'money',
 'missing_people',
 'refugees',
 'death',
 'other_aid',
 'infrastructure_related',
 'transport',
 'buildings',
 'electricity',
 'tools',
 'hospitals',
 'shops',
 'aid_centers',
 'other_infrastructure',
 'weather_related',
 'floods',
 'storm',
 'fire',
 'earthquake',
 'cold',
 'other_weather',
 'direct_report']

In [20]:
categories_full.columns = columns
categories_full.head()

   id    related    request  ...    cold    other_weather    direct_report
0   2  related-1  request-0  ...  cold-0  other_weather-0  direct_report-0
1   7  related-1  request-0  ...  cold-0  other_weather-0  direct_report-0
2   8  related-1  request-0  ...  cold-0  other_weather-0  direct_report-0
3   9  related-1  request-1  ...  cold-0  other_weather-0  direct_report-0
4  12  related-1  request-0  ...  cold-0  other_weather-0  direct_report-0

[5 rows x 37 columns]

In [21]:
categories_full.set_index(keys='id',inplace=True)
categories_full.head()

      related    request    offer  ...    cold    other_weather    direct_report
id                                 ...
2   related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
7   related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
8   related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0
9   related-1  request-1  offer-0  ...  cold-0  other_weather-0  direct_report-0
12  related-1  request-0  offer-0  ...  cold-0  other_weather-0  direct_report-0

[5 rows x 36 columns]

In [22]:
categories_full.columns[1:]

Index(['request', 'offer', 'aid_related', 'medical_help', 'medical_products',
       'search_and_rescue', 'security', 'military', 'child_alone', 'water',
       'food', 'shelter', 'clothing', 'money', 'missing_people', 'refugees',
       'death', 'other_aid', 'infrastructure_related', 'transport',
       'buildings', 'electricity', 'tools', 'hospitals', 'shops',
       'aid_centers', 'other_infrastructure', 'weather_related', 'floods',
       'storm', 'fire', 'earthquake', 'cold', 'other_weather',
       'direct_report'],
      dtype='object')

In [23]:
for column in categories_full.columns:
    # set each value to be the last character of the string
    categories_full[column] = categories_full[column].str[-1]
    
    # convert column from string to numeric
    categories_full[column] = categories_full[column].astype(int)
categories_full.head()

    related  request  offer  ...  cold  other_weather  direct_report
id                           ...
2         1        0      0  ...     0              0              0
7         1        0      0  ...     0              0              0
8         1        0      0  ...     0              0              0
9         1        1      0  ...     0              0              0
12        1        0      0  ...     0              0              0

[5 rows x 36 columns]

In [24]:
categories_full.describe(include='all')

            related       request  ...  other_weather  direct_report
count  26216.000000  26216.000000  ...   26216.000000   26216.000000
mean       0.773650      0.170659  ...       0.052487       0.193584
std        0.435276      0.376218  ...       0.223011       0.395114
min        0.000000      0.000000  ...       0.000000       0.000000
25%        1.000000      0.000000  ...       0.000000       0.000000
50%        1.000000      0.000000  ...       0.000000       0.000000
75%        1.000000      0.000000  ...       0.000000       0.000000
max        2.000000      1.000000  ...       1.000000       1.000000

[8 rows x 36 columns]

#### There are some rows for which the related column has value of 2 - that seems like a data quality issue
#### Also, the child_alone column has only 0

In [25]:
categories_full.query('related=="2"')['related'].count()

188

In [26]:
categories_full['related'].replace(\
                                   to_replace=2,\
                                   value=1,\
                                   inplace=True\
                                  )
categories_full.describe(include='all')

            related       request  ...  other_weather  direct_report
count  26216.000000  26216.000000  ...   26216.000000   26216.000000
mean       0.766478      0.170659  ...       0.052487       0.193584
std        0.423079      0.376218  ...       0.223011       0.395114
min        0.000000      0.000000  ...       0.000000       0.000000
25%        1.000000      0.000000  ...       0.000000       0.000000
50%        1.000000      0.000000  ...       0.000000       0.000000
75%        1.000000      0.000000  ...       0.000000       0.000000
max        1.000000      1.000000  ...       1.000000       1.000000

[8 rows x 36 columns]

In [27]:
categories_full[categories_full.duplicated()].count()

related                   22214
request                   22214
offer                     22214
aid_related               22214
medical_help              22214
medical_products          22214
search_and_rescue         22214
security                  22214
military                  22214
child_alone               22214
water                     22214
food                      22214
shelter                   22214
clothing                  22214
money                     22214
missing_people            22214
refugees                  22214
death                     22214
other_aid                 22214
infrastructure_related    22214
transport                 22214
buildings                 22214
electricity               22214
tools                     22214
hospitals                 22214
shops                     22214
aid_centers               22214
other_infrastructure      22214
weather_related           22214
floods                    22214
storm                     22214
fire                      22214
earthquake                22214
cold                      22214
other_weather             22214
direct_report             22214
dtype: int64

In [28]:
categories_updated = categories_full.groupby(['id'])['related', 'request', 'offer', 'aid_related', \
                                          'medical_help','medical_products', 'search_and_rescue', \
                                          'security', 'military','child_alone', 'water', 'food', \
                                          'shelter', 'clothing', 'money','missing_people', 'refugees', \
                                          'death', 'other_aid','infrastructure_related', 'transport', \
                                          'buildings', 'electricity','tools', 'hospitals', 'shops', \
                                          'aid_centers', 'other_infrastructure','weather_related', \
                                          'floods', 'storm', 'fire', 'earthquake', 'cold',\
                                          'other_weather', 'direct_report'].agg('max').reset_index()
categories_updated.head()
categories_updated.info()

   id  related  request  offer  ...  earthquake  cold  other_weather  direct_report
0   2        1        0      0  ...           0     0              0              0
1   7        1        0      0  ...           0     0              0              0
2   8        1        0      0  ...           0     0              0              0
3   9        1        1      0  ...           0     0              0              0
4  12        1        0      0  ...           0     0              0              0

[5 rows x 37 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26180 entries, 0 to 26179
Data columns (total 37 columns):
id                        26180 non-null int64
related                   26180 non-null int64
request                   26180 non-null int64
offer                     26180 non-null int64
aid_related               26180 non-null int64
medical_help              26180 non-null int64
medical_products          26180 non-null int64
search_and_rescue         26180 non-null int64
security                  26180 non-null int64
military                  26180 non-null int64
child_alone               26180 non-null int64
water                     26180 non-null int64
food                      26180 non-null int64
shelter                   26180 non-null int64
clothing                  26180 non-null int64
money                     26180 non-null int64
missing_people            26180 non-null int64
refugees                  26180 non-null int64
death                     26180 non-null int64
other_aid                 26180 non-null int64
infrastructure_related    26180 non-null int64
transport                 26180 non-null int64
buildings                 26180 non-null int64
electricity               26180 non-null int64
tools                     26180 non-null int64
hospitals                 26180 non-null int64
shops                     26180 non-null int64
aid_centers               26180 non-null int64
other_infrastructure      26180 non-null int64
weather_related           26180 non-null int64
floods                    26180 non-null int64
storm                     26180 non-null int64
fire                      26180 non-null int64
earthquake                26180 non-null int64
cold                      26180 non-null int64
other_weather             26180 non-null int64
direct_report             26180 non-null int64
dtypes: int64(37)
memory usage: 7.4 MB

In [29]:
# Remove child_alone column as all values are 0 and there is no variation
categories_updated.drop(columns=['child_alone'],axis=1,inplace=True)
categories_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26180 entries, 0 to 26179
Data columns (total 36 columns):
id                        26180 non-null int64
related                   26180 non-null int64
request                   26180 non-null int64
offer                     26180 non-null int64
aid_related               26180 non-null int64
medical_help              26180 non-null int64
medical_products          26180 non-null int64
search_and_rescue         26180 non-null int64
security                  26180 non-null int64
military                  26180 non-null int64
water                     26180 non-null int64
food                      26180 non-null int64
shelter                   26180 non-null int64
clothing                  26180 non-null int64
money                     26180 non-null int64
missing_people            26180 non-null int64
refugees                  26180 non-null int64
death                     26180 non-null int64
other_aid                 26180 non-null int64
infrastructure_related    26180 non-null int64
transport                 26180 non-null int64
buildings                 26180 non-null int64
electricity               26180 non-null int64
tools                     26180 non-null int64
hospitals                 26180 non-null int64
shops                     26180 non-null int64
aid_centers               26180 non-null int64
other_infrastructure      26180 non-null int64
weather_related           26180 non-null int64
floods                    26180 non-null int64
storm                     26180 non-null int64
fire                      26180 non-null int64
earthquake                26180 non-null int64
cold                      26180 non-null int64
other_weather             26180 non-null int64
direct_report             26180 non-null int64
dtypes: int64(36)
memory usage: 7.2 MB

# Merge the DataFrames

### There are same number of records in messages and categories

In [30]:
# merge datasets
df = messages.merge(categories_updated, how='left',on='id')
df.head()

   id  ... direct_report
0   2  ...             0
1   7  ...             0
2   8  ...             0
3   9  ...             0
4  12  ...             0

[5 rows x 38 columns]

In [31]:
df.describe(include='all')

                  id message  genre  ...          cold  other_weather  direct_report
count   26180.000000   26180  26180  ...  26180.000000   26180.000000   26180.000000
unique           NaN   26177      3  ...           NaN            NaN            NaN
top              NaN  #NAME?   news  ...           NaN            NaN            NaN
freq             NaN       4  13039  ...           NaN            NaN            NaN
mean    15227.563942     NaN    NaN  ...      0.020206       0.052559       0.193583
std      8827.269301     NaN    NaN  ...      0.140708       0.223156       0.395113
min         2.000000     NaN    NaN  ...      0.000000       0.000000       0.000000
25%      7449.750000     NaN    NaN  ...      0.000000       0.000000       0.000000
50%     15665.500000     NaN    NaN  ...      0.000000       0.000000       0.000000
75%     22927.250000     NaN    NaN  ...      0.000000       0.000000       0.000000
max     30265.000000     NaN    NaN  ...      1.000000       1.000000       1.000000

[11 rows x 38 columns]

#### #NAME? seems to be a message thats been duplicated

In [32]:
df[df.duplicated(['message'])]

          id message genre  ...  cold  other_weather  direct_report
21688  25213  #NAME?  news  ...     0              0              0
22465  26062  #NAME?  news  ...     0              0              0
22675  26309  #NAME?  news  ...     0              0              1

[3 rows x 38 columns]

In [33]:
df.query('message == "#NAME?"')

          id message genre  ...  cold  other_weather  direct_report
16504  19448  #NAME?  news  ...     0              0              0
21688  25213  #NAME?  news  ...     0              0              0
22465  26062  #NAME?  news  ...     0              0              0
22675  26309  #NAME?  news  ...     0              0              1

[4 rows x 38 columns]

In [34]:
# these 4 messages cant be interpreted in any way and so its best to remove them


df.drop(index=[16504,21688,22465,22675],inplace=True)

df[df.duplicated(['message'])]

Empty DataFrame
Columns: [id, message, genre, related, request, offer, aid_related, medical_help, medical_products, search_and_rescue, security, military, water, food, shelter, clothing, money, missing_people, refugees, death, other_aid, infrastructure_related, transport, buildings, electricity, tools, hospitals, shops, aid_centers, other_infrastructure, weather_related, floods, storm, fire, earthquake, cold, other_weather, direct_report]
Index: []

In [35]:
df.describe(include='all')

                  id  ... direct_report
count   26176.000000  ...  26176.000000
unique           NaN  ...           NaN
top              NaN  ...           NaN
freq             NaN  ...           NaN
mean    15226.183985  ...      0.193574
std      8827.169602  ...      0.395107
min         2.000000  ...      0.000000
25%      7448.750000  ...      0.000000
50%     15663.500000  ...      0.000000
75%     22925.250000  ...      0.000000
max     30265.000000  ...      1.000000

[11 rows x 38 columns]

#### Whats the correlation between the categories column

In [36]:
df.drop(columns=['id','message','genre']).corr()

                         related   request  ...  other_weather  direct_report
related                 1.000000  0.250337  ...       0.129993       0.270382
request                 0.250337  1.000000  ...      -0.015388       0.647767
offer                   0.036979 -0.030395  ...      -0.005518       0.017904
aid_related             0.464049  0.448136  ...       0.126174       0.374978
medical_help            0.162227  0.128992  ...       0.038944       0.099337
medical_products        0.126720  0.106742  ...       0.032244       0.062605
search_and_rescue       0.093078  0.071487  ...       0.044824       0.057105
security                0.074703  0.057007  ...       0.013188       0.048610
military                0.101716 -0.044299  ...       0.006523      -0.038227
water                   0.144019  0.239060  ...       0.048530       0.193096
food                    0.195438  0.351497  ...       0.045512       0.298472
shelter                 0.171652  0.280353  ...       0.053493       0.234241
clothing                0.069096  0.082424  ...       0.002448       0.067297
money                   0.084743  0.063017  ...       0.032295       0.016935
missing_people          0.059221  0.027898  ...       0.031199       0.008490
refugees                0.102629  0.024111  ...       0.045716       0.005714
death                   0.120543  0.009051  ...       0.084853       0.011251
other_aid               0.214736  0.244184  ...       0.096784       0.193051
infrastructure_related  0.145671  0.021826  ...       0.157732       0.031722
transport               0.120914  0.025932  ...       0.059751       0.039731
buildings               0.127734  0.062801  ...       0.099766       0.075418
electricity             0.079488  0.010228  ...       0.058273       0.049350
tools                   0.043143  0.019429  ...       0.038867       0.016453
hospitals               0.057695  0.016404  ...       0.036622       0.020774
shops                   0.037452  0.032352  ...       0.027094       0.035456
aid_centers             0.060317  0.022817  ...       0.043993       0.021652
other_infrastructure    0.118355 -0.002685  ...       0.164057       0.003394
weather_related         0.342740 -0.014812  ...       0.379275       0.079310
floods                  0.165046 -0.005450  ...       0.102913       0.002821
storm                   0.176981 -0.045944  ...       0.155818       0.070655
fire                    0.057592 -0.008975  ...       0.069937       0.004132
earthquake              0.177420  0.006817  ...       0.016512       0.028325
cold                    0.079259 -0.000920  ...       0.074442       0.003847
other_weather           0.129993 -0.015388  ...       1.000000       0.003744
direct_report           0.270382  0.647767  ...       0.003744       1.000000

[35 rows x 35 columns]

In [37]:
for column in df.columns[3:]:
    print("---{}---".format(column))
    print(df[column].value_counts())

---related---
1    20065
0     6111
Name: related, dtype: int64
---request---
0    21709
1     4467
Name: request, dtype: int64
---offer---
0    26059
1      117
Name: offer, dtype: int64
---aid_related---
0    15334
1    10842
Name: aid_related, dtype: int64
---medical_help---
0    24094
1     2082
Name: medical_help, dtype: int64
---medical_products---
0    24865
1     1311
Name: medical_products, dtype: int64
---search_and_rescue---
0    25452
1      724
Name: search_and_rescue, dtype: int64
---security---
0    25705
1      471
Name: security, dtype: int64
---military---
0    25316
1      860
Name: military, dtype: int64
---water---
0    24507
1     1669
Name: water, dtype: int64
---food---
0    23259
1     2917
Name: food, dtype: int64
---shelter---
0    23867
1     2309
Name: shelter, dtype: int64
---clothing---
0    25772
1      404
Name: clothing, dtype: int64
---money---
0    25573
1      603
Name: money, dtype: int64
---missing_people---
0    25878
1      298
Name: missing_people, dtype: int64
---refugees---
0    25301
1      875
Name: refugees, dtype: int64
---death---
0    24984
1     1192
Name: death, dtype: int64
---other_aid---
0    22734
1     3442
Name: other_aid, dtype: int64
---infrastructure_related---
0    24471
1     1705
Name: infrastructure_related, dtype: int64
---transport---
0    24977
1     1199
Name: transport, dtype: int64
---buildings---
0    24845
1     1331
Name: buildings, dtype: int64
---electricity---
0    25644
1      532
Name: electricity, dtype: int64
---tools---
0    26017
1      159
Name: tools, dtype: int64
---hospitals---
0    25893
1      283
Name: hospitals, dtype: int64
---shops---
0    26056
1      120
Name: shops, dtype: int64
---aid_centers---
0    25867
1      309
Name: aid_centers, dtype: int64
---other_infrastructure---
0    25025
1     1151
Name: other_infrastructure, dtype: int64
---weather_related---
0    18890
1     7286
Name: weather_related, dtype: int64
---floods---
0    24027
1     2149
Name: floods, dtype: int64
---storm---
0    23735
1     2441
Name: storm, dtype: int64
---fire---
0    25894
1      282
Name: fire, dtype: int64
---earthquake---
0    23724
1     2452
Name: earthquake, dtype: int64
---cold---
0    25647
1      529
Name: cold, dtype: int64
---other_weather---
0    24800
1     1376
Name: other_weather, dtype: int64
---direct_report---
0    21109
1     5067
Name: direct_report, dtype: int64

In [38]:
# check number of duplicates
df[df.duplicated()].count()

id                        0
message                   0
genre                     0
related                   0
request                   0
offer                     0
aid_related               0
medical_help              0
medical_products          0
search_and_rescue         0
security                  0
military                  0
water                     0
food                      0
shelter                   0
clothing                  0
money                     0
missing_people            0
refugees                  0
death                     0
other_aid                 0
infrastructure_related    0
transport                 0
buildings                 0
electricity               0
tools                     0
hospitals                 0
shops                     0
aid_centers               0
other_infrastructure      0
weather_related           0
floods                    0
storm                     0
fire                      0
earthquake                0
cold                      0
other_weather             0
direct_report             0
dtype: int64

In [0]:
from sqlalchemy import create_engine

In [0]:
engine = create_engine('sqlite:///Disaster.db')
df.to_sql('messages', engine, index=False, if_exists='replace')

# NLP & ML Pipeline

In [41]:
import re
import nltk
nltk.download(['stopwords','punkt','wordnet'])
from nltk import word_tokenize, sent_tokenize
from nltk.corpus import stopwords, wordnet

from nltk.stem.porter import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Unzipping corpora/wordnet.zip.

True

In [0]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score, precision_score, recall_score, f1_score, cohen_kappa_score

from sklearn.model_selection import train_test_split, GridSearchCV
from sklearn.multioutput import MultiOutputClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.decomposition import TruncatedSVD
import timeit

In [0]:
def load_data():
    # load data from database
    engine = create_engine('sqlite:///Disaster.db')
    connection = engine.connect()

    df = pd.read_sql_table('messages', connection)
    X = df['message'].values
    y = df.drop(columns=['id','message','genre'],axis=1).values
    
    return X, y

In [0]:
def tokenize(text):
    tokens = word_tokenize(text)
    tokens = [w for w in tokens if w not in stopwords.words("english")]
    # initiate lemmatizer
    lemmatizer = WordNetLemmatizer()

    # iterate through each token
    clean_tokens = []
    for tok in tokens:
        lemmed = lemmatizer.lemmatize(tok, pos='v')
        # lemmatize, normalize case, and remove leading/trailing white space
        clean_tok = re.sub(r"[^a-zA-Z0-9]"," ",lemmed.lower()).strip()
        clean_tokens.append(clean_tok)
    return clean_tokens

In [0]:
def display_results(y_test, y_pred):
    list_of_reports = []
    
    for col in range(y_test.shape[1]):
        report_metric = {}
        y1 = y_test.T[col]
        y2 = y_pred.T[col]
        report_metric['precision'] = precision_score(y1,y2)
        report_metric['recall'] = recall_score(y1,y2)
        report_metric['f1'] = f1_score(y1,y2)
        report_metric['kappa'] = cohen_kappa_score(y1,y2)
        list_of_reports.append(report_metric)
    return list_of_reports

In [0]:
def main():
    X, y = load_data()
    X_train, X_test, y_train, y_test = train_test_split(X, y)
    


    # build pipeline
    pipeline = Pipeline([('vect',CountVectorizer(tokenizer=tokenize)),\
                         ('tfidf',TfidfTransformer()),\
                         ('clf',MultiOutputClassifier(\
                                                      AdaBoostClassifier(random_state=42)))\
                        ])
         
    # train classifier
    pipeline.fit(X_train, y_train)

    # predict on test data
    y_pred = pipeline.predict(X_test)

    # display results
    performance_report = pd.DataFrame(display_results(y_test, y_pred))
    return performance_report

In [0]:
report_df = main()

In [48]:
report_df

          f1     kappa  precision    recall
0   0.875583  0.269098   0.807044  0.956843
1   0.610354  0.548983   0.736842  0.520930
2   0.000000 -0.002166   0.000000  0.000000
3   0.669267  0.475921   0.738225  0.612092
4   0.338753  0.306929   0.595238  0.236742
5   0.454352  0.436502   0.694805  0.337539
6   0.244726  0.235927   0.617021  0.152632
7   0.095890  0.090895   0.333333  0.056000
8   0.422764  0.407745   0.619048  0.320988
9   0.721750  0.703123   0.757653  0.689095
10  0.720789  0.690022   0.818966  0.643631
11  0.630670  0.603590   0.774536  0.531876
12  0.588957  0.584015   0.750000  0.484848
13  0.369478  0.357814   0.469388  0.304636
14  0.291667  0.287539   0.538462  0.200000
15  0.272401  0.258587   0.422222  0.201058
16  0.479638  0.463496   0.716216  0.360544
17  0.204831  0.157945   0.449153  0.132666
18  0.160305  0.139349   0.428571  0.098592
19  0.319372  0.303355   0.592233  0.218638
20  0.543796  0.524666   0.677273  0.454268
21  0.377551  0.369847   0.660714  0.264286
22  0.000000 -0.001334   0.000000  0.000000
23  0.070588  0.066884   0.187500  0.043478
24  0.000000 -0.001547   0.000000  0.000000
25  0.105263  0.100925   0.250000  0.066667
26  0.105263  0.091345   0.295082  0.064057
27  0.744201  0.663482   0.851506  0.660913
28  0.688414  0.666875   0.881844  0.564576
29  0.594369  0.563904   0.757979  0.488851
30  0.300000  0.295478   0.500000  0.214286
31  0.820069  0.802763   0.892655  0.758400
32  0.350282  0.343261   0.645833  0.240310
33  0.230769  0.209882   0.432203  0.157407
34  0.507157  0.427242   0.683196  0.403252

In [0]:
parameters = {'clf__estimator__n_estimators': [10, 20, 50],\
              'clf__estimator__learning_rate': np.logspace(-5,0,15)
             }


X, y = load_data()
X_train, X_test, y_train, y_test = train_test_split(X, y)

pipeline = Pipeline([('vect',CountVectorizer(tokenizer=tokenize)),\
                     ('tfidf',TfidfTransformer()),\
                     ('best', TruncatedSVD()),\
                     ('clf',MultiOutputClassifier(AdaBoostClassifier(random_state=42)))\
                        ])

In [0]:

start_time = timeit.default_timer()
gscv = GridSearchCV(estimator=pipeline,\
                    param_grid=parameters,\
                    scoring='accuracy',\
                    cv=5)

gscv.fit(X_train, y_train)
stop_time = timeit.default_timer()
execution_time = stop_time - start_time
print('\n {}'.format(execution_time))

In [58]:
gscv.best_params_

{'clf__estimator__n_estimators': 15}

In [59]:
y_pred = gscv.predict(X_test)
y_pred
performance_report = pd.DataFrame(display_results(y_test, y_pred))
performance_report

array([[1, 1, 0, ..., 0, 0, 1],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       ...,
       [1, 1, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]])

/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)
/usr/local/lib/python3.6/dist-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: F-score is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)

          f1     kappa  precision    recall
0   0.871054  0.155403   0.788123  0.973490
1   0.557359  0.493315   0.766154  0.437995
2   0.000000 -0.001075   0.000000  0.000000
3   0.630544  0.440663   0.760675  0.538433
4   0.287834  0.259639   0.587879  0.190570
5   0.387244  0.369455   0.643939  0.276873
6   0.253061  0.243865   0.620000  0.158974
7   0.044118  0.040435   0.214286  0.024590
8   0.280702  0.267533   0.481928  0.198020
9   0.704042  0.685836   0.787172  0.636792
10  0.768565  0.741176   0.799100  0.740278
11  0.583144  0.555439   0.795031  0.460432
12  0.571429  0.566608   0.745763  0.463158
13  0.309278  0.301250   0.588235  0.209790
14  0.340000  0.336757   0.850000  0.212500
15  0.358974  0.347375   0.583333  0.259259
16  0.537246  0.522728   0.788079  0.407534
17  0.145631  0.112626   0.531915  0.084364
18  0.087146  0.074321   0.392157  0.049020
19  0.313625  0.297572   0.603960  0.211806
20  0.457983  0.440159   0.707792  0.338509
21  0.351220  0.342372   0.562500  0.255319
22  0.000000 -0.000297   0.000000  0.000000
23  0.152174  0.147552   0.291667  0.102941
24  0.000000  0.000000   0.000000  0.000000
25  0.153846  0.149490   0.380952  0.096386
26  0.058632  0.049625   0.257143  0.033088
27  0.725240  0.641912   0.867737  0.622942
28  0.689017  0.668084   0.876471  0.567619
29  0.430206  0.397413   0.755020  0.300800
30  0.219780  0.217114   0.769231  0.128205
31  0.849829  0.835127   0.908759  0.798077
32  0.389474  0.382344   0.711538  0.268116
33  0.222222  0.204308   0.494737  0.143293
34  0.433773  0.350109   0.650316  0.325416

In [54]:
performance_report

          f1     kappa  precision    recall
0   0.874071  0.188873   0.792952  0.973679
1   0.548976  0.481115   0.712644  0.446445
2   0.000000 -0.001110   0.000000  0.000000
3   0.621859  0.410257   0.714286  0.550612
4   0.334270  0.304258   0.613402  0.229730
5   0.418891  0.400303   0.708333  0.297376
6   0.369811  0.359369   0.662162  0.256545
7   0.046875  0.043229   0.214286  0.026316
8   0.316981  0.306695   0.656250  0.208955
9   0.680466  0.660848   0.794562  0.595023
10  0.780055  0.752359   0.790859  0.769542
11  0.628633  0.601684   0.802198  0.516814
12  0.618182  0.613582   0.809524  0.500000
13  0.314607  0.307284   0.595745  0.213740
14  0.333333  0.329573   0.708333  0.217949
15  0.206406  0.195993   0.557692  0.126638
16  0.456471  0.441407   0.776000  0.323333
17  0.105578  0.077298   0.469027  0.059484
18  0.122530  0.106051   0.442857  0.071101
19  0.315789  0.302395   0.703704  0.203571
20  0.450820  0.431856   0.666667  0.340557
21  0.391534  0.383754   0.606557  0.289062
22  0.050000  0.049194   0.333333  0.027027
23  0.166667  0.162188   0.347826  0.109589
24  0.000000 -0.000295   0.000000  0.000000
25  0.120000  0.116189   0.352941  0.072289
26  0.100295  0.088821   0.354167  0.058419
27  0.707600  0.624026   0.868786  0.596865
28  0.676090  0.654909   0.880368  0.548757
29  0.625698  0.593236   0.750000  0.536741
30  0.168675  0.166631   0.777778  0.094595
31  0.834986  0.819786   0.895551  0.782095
32  0.370861  0.365065   0.682927  0.254545
33  0.215962  0.198006   0.489362  0.138554
34  0.461616  0.374455   0.651558  0.357420